<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if variable2 == 1 %}
        <meta http-equiv="refresh" content="5">
    {% endif %}
    <title>Title</title>
</head>
<body>
<h1>Enter the values of n and p</h1>
<form method="post">
    {% csrf_token %}
    N:<input type="number" name="value_n" value="n"><br>
    P:<input type="number" name="value_p" value="p"><br>

    <button type="submit" name="Start" value="True">Start</button>
    <button type="submit" name="Stop" value="True">Stop</button><br>

    <h2>Display particular pattern for particular n and p values</h2>
    n:<input type="number" name="n" value="n_1"><br>
    p:<input type="number" name="p" value="p_1"><br>
    Pattern:<input type="text" name="pattern" value="pattern"><br>
    Number of lines:<input type="number" name="number_of_lines" value="number_of_lines"><br>
    <button type="submit" name="Print" value="True">Print_Iframe</button><br>

     {% if variable == 1 %}
         <pre style="border:1px solid black;height:100px;width:100%;overflow: scroll" >{{ data }}</pre>

     {% endif %}

    <h2>Get the live feed</h2>
    <a href="{% url "live" %}">Live Data</a>
{#    n:<input type="number" name="n_live" value="n_live"><br>#}
{#    p:<input type="number" name="p_live" value="p_live"><br>#}
{#    Pattern:<input type="text" name="live_pattern" value=""><br>#}
{#    Number of Lines:<input type="number" name="live_number_of_lines" value="live_number_of_lines"><br>#}
{#    <button type="submit" name="Print_live" value="True">Print Live</button>#}
{#    <button type="submit" name="Live_Stop" value="True">Stop Live</button>#}
{#    {% if variable2 == 1 %}#}
{#        {% for i in list %}#}
{#            {% for data_1 in data2 %}#}
{#                {% if i == data_1.1 %}#}
{#                <p>For n equal to {{ i }}</p>#}
{#                <pre style="border:1px solid black;height:200px;width:100%;overflow:scroll">{{ data_1.0 }}</pre>#}
{#                {% endif %}#}
{#                {% endfor %}#}
{#        {% endfor %}#}
{#    {% endif %}#}
    <h2>Get the time span data</h2>
{#    n:<input type="number" name="n_time" value="n_time"> <br>#}
{#    p:<input type="number" name="p_time" value="p_time"><br>#}
{#    time start:<input type="text" name="date_start"><br>#}
{#    time end: <input type="text" name="date_end"><br>#}
{#    <button type="submit" name="Time_data" value="True">Print Time data</button>#}
{#    {% if variable3 == 1 %}#}
{#        <pre style="border:1px solid black;height:100px;width:100%;overflow: scroll" >{{ data_time }}</pre>#}
{##}
{#    {% endif %}#}
    <a href="{% url "time" %}">Time Data</a>
    <h2>Graphs</h2>
    <a href="{% url "graph" %}">Graph Data</a>

</form>
</body>
<